*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html, body{
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    font-family: 'Arial', sans-serif;
    background-color:whitesmoke;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    flex-direction: column;
    position:relative;
}

header{  
    height: 80px;
    text-align: center;
    background-color: #006EB6;
}
header nav{
    background-color: #006EB6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
header nav ul{
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 10px 20px;
    gap: 10px;
    flex-direction: row;
    justify-content: right;
}
header nav ul li a{
    color: #e3e3e3;
    text-decoration: none;
    padding: 8px 12px white;
    display: block;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 10000;     
    background-color: #006EB6;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
    width: 35%;
    
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
    z-index: 10001;
    cursor: pointer;
}
@media (max-width: 600px) {
   .hideOnMobile {
       display: none;
   }
   .menu-button{
    display: block;
    
   }
   nav{
    height: 80px;
   }
   nav .logo a{
    height: 80px;
    font-size: 25px;
   }
   .categories img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    }
}
@media (min-width: 400px) {
    .sidebar{
        width: 100%;
        justify-self: right;
    }
    nav{
    height: 80px;
   }
   nav .logo a{
    height: 80px;
    font-size: 25px;
    }
    .categories img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    }
}
nav > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
form{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav div a{ 
    font-size: 24px;
    color: #e3e3e3;
    text-decoration: none;
    border-radius: 7px;
    border: 3px solid gray;
    background-color: gray;

}
.search input{
    width: 80%;
    height: 34px;
    border: 1px solid gray;
    border-radius: 7px;
}
.search button{
    width: 50px;
    height: 36px;
    background-color: gray;
    color: #e3e3e3;
    border: none;
    border-radius: 7px;
}   
    
.logo a{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    color: #e3e3e3;
    text-decoration: none;
    padding: 8px 12px white;
    display: flex;
    border-radius: 7px;
    border: 1px solid #e3e3e3;
    justify-content: left;
}
section{
    height: 200px;
    
}
.banner-image{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
main{
    flex:1;
}
.category-list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.category-list div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.category-list div img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #006EB6;
}
a{
    text-decoration: none;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: gray;
    color: #e3e3e3;
    margin-top: 20px;
    border-radius: 10px;
}
/* login page styles */
.login{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.login form{
    display: flex;
    flex-direction: column;
}
.login label{
    margin-bottom: 5px;
    font-weight: bold;
}
.login input{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login button{
    padding: 10px;
    background-color: #006EB6;
    color: #e3e3e3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login button:hover{
    background-color: #00509E;
} 

/*signup page styles*/
.signup form{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
}
.signup label{
    margin-bottom: 5px;
    font-weight: bold;
}
.signup input{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup button{
    padding: 10px;
    background-color: #006EB6;
    color: #e3e3e3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signup button:hover{
    background-color: #00509E;
}

/* cart page styles */
.cart{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}
.cart h2{
    margin-bottom: 20px;
}
.cart p{
    margin-bottom: 20px;
}
.continue-shopping-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #006EB6;
    color: #e3e3e3;
    border-radius: 5px;
    text-decoration: none;
}
.continue-shopping-btn:hover{
    background-color: #00509E;
}

/* cart page styles */
.cart{
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}
.cart h2{
    margin-bottom: 20px;
}
.cart p{
    margin-bottom: 20px;
}
.remove-btn{
    padding: 5px 10px;
    background-color: #006EB6;
    color: #e3e3e3;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
}
.remove-btn:hover{
    background-color: red;
}
.continue-shopping-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #006EB6;
    color: #e3e3e3;
    border-radius: 5px;
    text-decoration: none;
}
.continue-shopping-btn:hover{
    background-color: #00509E;
}
.total{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    justify-content: right;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 5px;
}
.checkcout-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #006EB6;
    color: #e3e3e3;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
}




#product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid gray;
}


/* Product scrollable container */
#product-list.scrollable {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

#product-list.scrollable .category-item {
    min-width: 250px;
    flex: 0 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

/* Images */
#product-list img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

/* Quantity input */
.quantity-input {
    width: 50px;
}

/* Optional: hide scrollbar in some browsers */
#product-list.scrollable::-webkit-scrollbar {
    height: 8px;
}

#product-list.scrollable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}


div.category-item imgEl{
    width: 100px;
    height: 100px;
}

/* Product item styles */
.item-details {
    text-align: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    
    
}
.item-details img {
    
    width: 100px;
    height: auto;
    border-radius: 5px;
}
.item-details h3 {
    margin: 0;
    font-size: 18px;
    color: #006EB6;
    margin-right: 20px;
}
.item-details p {
    margin: 5px 0;
    font-size: 16px;
    margin-right: 20px;
}       
.item-details .remove-btn {
    margin-top: 10px;
    justify-content: right;
    align-items: center;
    
}
.checkout-btn{
color:white;
background-color:#006EB6;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}
.add-cart {
    display: inline-block;
    padding: 8px 16px;
    background-color: #006EB6;
    color: #e3e3e3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.add-cart:hover {
    background-color: gray;
}
.quantity-input {
    width: 60px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* checkout page styles */

#checkout-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 2px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;

}

.checkout-items{
    margin-bottom: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.checkout-summary{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}